body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #333;
    color: white;
}
h3 {
    margin-top: 20px;
}

.classzap {
    margin-top: 0px;
} 
.logoicones {
    display: flex;
    align-items: center;
    justify-content: center;
}       
.logo {
    padding-bottom: 20px;
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    height: 100px;
    width: 100px;
}
.logo img {
    max-width: 100%; /* Garante que a imagem não ultrapasse o tamanho do div */
}
.logo2 {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    height: 40px;
    width: 70px;
}

.logo2 img {
    max-width: 100%; /* Garante que a imagem não ultrapasse o tamanho do div */
}
.logo3 {
    display: inline-flex;
    height: 60px;
    width: 120px;
    padding-inline: 0px;
    align-items: center;
}
.ofertas{
    align-items: center;

}
ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
li {
    position: relative;
    width: 300px;
    margin: 20px;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}
li:hover {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.9);
    transform: translateY(-5px);
    
}
img {
    max-width: 100%;
    height: auto;
}
a {
    color: white;
    text-decoration: none;
    transition: color 0.2s;
}
a:hover {
    color: #ff9900;
}
.youtube-logo {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
}

ul#lista-produtos {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centralize os cards horizontalmente */
}










/* Estilos para o rodapé */
footer {
    background-color: #222; /* Cor de fundo do rodapé */
    color: white;
    padding: 20px; /* Espaçamento interno do rodapé */
    text-align: center;
}

/* Estilos para a lista de redes sociais */
ul.redes-sociais {
    list-style: none;
    padding: 0;
}

ul.redes-sociais li {
    display: inline; /* Coloca os itens da lista na mesma linha */
    margin-right: 10px; /* Espaçamento entre os itens da lista */
}

ul.redes-sociais a {
    color: white; /* Cor dos hiperlinks */
    text-decoration: none; /* Remove sublinhado dos hiperlinks */
    transition: color 0.2s; /* Efeito de transição de cor ao passar o mouse */
}

ul.redes-sociais a:hover {
    color: #ff9900; /* Cor ao passar o mouse sobre os hiperlinks */
}
